.post_single {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.5);

  h2 {
    color: #000080 !important;
  }

  h5 {
    color: #6b6077 !important;
  }

  input, textarea {
    background-color: #D3D3D3;
  }

  .comment_incipit, .comment_add {
      font-weight: 600;
  }

  .comment_guest {
    h6 {
      font-weight: 600;
    }
  }

}