header {

  .title:hover {
    text-decoration: none;
  }
  h1 {
    color: #000080 !important;
    font-weight: bold;
  }

  .nav-scroller  {
    a {
      color: blue !important;
      font-weight: 600;
    }
  }
}