body {
  // background-color: rgba(0, 0, 0, 0.1);
  background-image: url('https://storage.googleapis.com/webdesignledger.pub.network/LaT/edd/2016/02/vintage-vignette-tan-paper-texture-1-780x1267.jpg');
  background-size: 100%;
  padding-bottom: 50px;

  .col-sm-6 {

    .post {
      padding: 40px;
      margin: 20px;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      min-height: 310px;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
      -o-box-shadow: 0 0 10px rgba(0,0,0,0.5);

      h3 {
        font-weight: bold;
      }

      .info {
        a {
          color: blue !important;
        }
      }

      .content {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
      }
    }
  }
}